.project-span {
    width: 200px;
    height: 128px;
    border-color: #DDD;
    margin: 20px 10px 10px 0px;
    background-color: #fff;
    background-image: url("../images/plus.png");
    background-repeat: no-repeat;
    background-position: center;
    border-style: dashed;
    border-width: 1px;
}

hr{
    height:2px;
    color: #eeeeee;
    border-style: solid;
}