<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>$pageTitle</title>
    <link rel="stylesheet" href="$link.contextPath/resources/framework/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="$link.contextPath/resources/framework/bootstrapvalidator/dist/css/bootstrapValidator.css"/>
    <link rel="stylesheet" href="$link.contextPath/resources/framework/sweet-alert/css/sweet-alert.css"/>

    <link rel="stylesheet" href="$link.contextPath/resources/common/common.css"/>

    #foreach($style in $!styles)
        <link rel="stylesheet" href="$link.contextPath/$style"/>
    #end
</head>
<body>
<div id="header>#parse("velocity/header.vm")</div>
<div>$screen_content</div>

<script src="$link.contextPath/resources/framework/jquery/jquery-3.1.1.js"></script>
<script src="$link.contextPath/resources/framework/bootstrap/js/bootstrap.js" ></script>
<script src="$link.contextPath/resources/framework/bootstrapvalidator/dist/js/bootstrapValidator.js"></script>
<script src="$link.contextPath/resources/framework/bootstrapvalidator/dist/js/language/zh_CN.js"></script>
<script src="$link.contextPath/resources/framework/sweet-alert/js/sweet-alert.js"></script>


    #foreach($script in $!scripts)
         <script src="$link.contextPath$script"></script>
    #end
</body>
</html>