#set($layout="velocity/layout/layout_nav.vm")
#set($pageTitle="首页")
<link rel="stylesheet" href="$link.contextPath/resources/main/main.css"/>

<div>
    <div style="color: #999">
        <h3>我的项目</h3>
        <div class="project-span"></div>
    </div>
</div>