body{
    background-color: #a9a9a9!important;
}

.container {
    background-color: #f7f7f7;
}

#content {
    margin-top: 100px;
    padding-bottom: 25px;
}

.nav-right-box{
    margin-right: 20px;margin-bottom: 15px;
    margin-top: 15px;
}

.navbar-right-last{
    margin-left: 10px;
}