<nav class="nav navbar-inverse navbar-fixed-top" role="navgation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">
                SHARP API 管理系统
            </a>

            <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav nav">
                <li class="active"><a href="#">热门项目</a></li>
                <li><a href="#">MOCK</a></li>
                <li><a href="#">统计</a></li>
            </ul>
            <div class="navbar-form navbar-right" style="margin-right: 20px;margin-bottom: 15px; margin-top: 15px">
                <a href="#" class="navbar-link">登录</a>
            </div>
        </div>
    </div>
</nav>