<div class="col-md-3">
    <div style="width: 200px;">
        <div class="panel-group" id="accordion2">
            <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse"
                     data-parent="#accordion2" href="#collapseOne">
                    <a class="accordion-toggle">团队</a>
                </div>
                <div id="collapseOne" class="panel-collapse collapse"
                     style="height: 0px;">
                    <div class="panel-body">
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="$link.contextPath/group/list">所有团队</a></li>
                            <li><a href="$link.contextPath/group/add">创建团队</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse"
                     data-parent="#accordion2" href="#collapseTwo">
                    <a class="accordion-toggle">项目</a>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse"
                     style="height: 0px;">
                    <div class="panel-body">
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="$link.contextPath/project/list">所有项目</a></li>
                            <li><a href="#">我的项目</a></li>
                            <li><a href="$link.contextPath/project/add">创建项目</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse"
                     data-parent="#accordion2" href="#collapseFive">
                    <a class="accordion-toggle">模块</a>
                </div>
                <div id="collapseFive" class="panel-collapse collapse"
                     style="height: 0px;">
                    <div class="panel-body">
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="$link.contextPath/module/list">所有模块</a></li>
                            <li><a href="$link.contextPath/module/add">创建模块</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse"
                     data-parent="#accordion2" href="#collapseThree">
                    <a class="accordion-toggle">接口文档</a>
                </div>
                <div id="collapseThree" class="panel-collapse collapse"
                     style="height: 0px;">
                    <div class="panel-body">
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="$link.contextPath/api/list">查看</a></li>
                            <li><a href="$link.contextPath/api/create">新建</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse"
                     data-parent="#accordion2" href="#collapseFour">
                    <a class="accordion-toggle">案例</a>
                </div>
                <div id="collapseFour" class="panel-collapse collapse"
                     style="height: 0px;">
                    <div class="panel-body">
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="#">A案例</a></li>
                            <li><a href="#">B案例</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>